@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

body {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: Overpass;
    margin: 0;
}

#upside {
    display: flex;
    background-color: black; /* rgb(46, 0, 69); */
}

#upside div {
    margin-left: auto;
    margin-right: auto;
}

#title1 {
    text-align: center;
}

#title {
    padding-left: 175px;
}

#content {
    padding-left: 15%;
}

#image {
    margin-left: auto;
    margin-right: auto;
}
#image img {
    width: 100%;
}

#link_card {
    width: 25%;
    padding-left: auto;
    padding-right: auto;
}